@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Proza+Libre:wght@300;400&family=Noto+Sans:wght@300;400;500&display=swap');


:root {
    --emphasized: #D9E5E8;
    --fill: #E6EEF0BA;
}

h1, .navbar-brand {
    font-family: 'Montserrat';
    font-size: 2.5em;
}

h2, .nav-link {
    font-family: 'Noto sans';
    font-size: 1.8em;
    font-weight: 500;
}

.nav-link {
    color: #0E4969;
    font-size: 1.3em;
}

#footer *{
    color:white !important;
    background-color: #0E4969;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

h3, .link {
    font-family: 'Proza Libre';
    font-size: 1.4em;
    font-weight: 300;
}

p {
    font-family: 'Proza Libre';
    font-size: 1.3em;
    font-weight: 400;
}

li {
    font-family: 'Noto sans';
    font-size: 1.6em;
    font-weight: 400;
}